<!--
  ~ Copyright (c) 2022 Automattic, Inc.
  ~
  ~ This file is part of the Automattic Domain Services Client library.
  ~
  ~ The Automattic Domain Services Client library is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License as published by the Free Software
  ~ Foundation; either version 2 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with this program;
  ~ if not, see https://www.gnu.org/licenses.
  -->

<phpunit
		stopOnFailure="false"
		backupGlobals="false"
		timeoutForSmallTests="25"
		timeoutForMediumTests="50"
		timeoutForLargeTests="120"
		convertNoticesToExceptions="false"
		convertWarningsToExceptions="false"
		bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="command">
			<directory suffix="test.php">command</directory>
		</testsuite>
		<testsuite name="entity">
			<directory suffix="test.php">entity</directory>
		</testsuite>
		<testsuite name="event">
			<directory suffix="test.php">event</directory>
		</testsuite>
		<testsuite name="response">
			<directory suffix="test.php">response</directory>
		</testsuite>
		<testsuite name="api">
			<directory suffix="test.php">api</directory>
		</testsuite>
		<testsuite name="e2e">
			<directory suffix="test.php">e2e</directory>
		</testsuite>
	</testsuites>
</phpunit>
