# [\Automattic](../namespaces/automattic.md)[\Domain_Services](../namespaces/automattic-domain-services.md)[\Event](../namespaces/automattic-domain-services-event.md)[\Contact](../namespaces/automattic-domain-services-event-contact.md)\Verification

### Classes

| Name | Summary |
|------|---------|
| [\Automattic\Domain_Services_Client\Event\Contact\Verification\Notify](../classes/Automattic-Domain-Services-Event-Contact-Verification-Notify.md) | Verification notify event |
| [\Automattic\Domain_Services_Client\Event\Contact\Verification\Request](../classes/Automattic-Domain-Services-Event-Contact-Verification-Request.md) | Verification request event |
