# [\Automattic](../namespaces/automattic.md)[\Domain_Services_Client](../namespaces/automattic-domain-services-client.md)[\Event](../namespaces/automattic-domain-services-client-event.md)[\Contact](../namespaces/automattic-domain-services-client-event-contact.md)\Verification

### Classes

| Name | Summary |
|------|---------|
| [\Automattic\Domain_Services_Client\Event\Contact\Verification\Notify](../classes/Automattic-Domain-Services-Client-Event-Contact-Verification-Notify.md) | Verification notify event |
| [\Automattic\Domain_Services_Client\Event\Contact\Verification\Request](../classes/Automattic-Domain-Services-Client-Event-Contact-Verification-Request.md) | Verification request event |
